body{
    background-color: lavender;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: lightblue;
    padding: 15px;
    border-bottom: 2px solid black;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 30px;
}

.profile{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid black;
    background-color: wheat;
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

footer{
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    border-top: 2px solid black;
    background-color: lightgray;
}